h1 {
	color: #FFFFFF;
}

h2 {
	font-size: 200%;
}
h3 {
	font-size: 125%;
}

ul {
	list-style-type: disc;
	padding: 10px;
	font-size: 125%;
}

.jumbotron h1 {	
	color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 50px;
}

.jumbotron {
	background-size: cover;
	border-radius: 10px;
	padding: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background: transparent;

}

.panel {
	background-image: url("../images/jumbotron_background.jpg");
	color: white;
}

