h1 {
	color: #FFFFFF;
}

h2 {
	font-size: 200%;
}

ul {
	list-style-type: disc;
	padding: 10px;
}

.jumbotron h1 {	
	color: #FFFFFF;
	margin: 75px;
}

.jumbotron {
	background-size: cover;
	border-radius: 10px;
	padding: 50px;
	margin: 75px;
	background: transparent;

}

.panel {
	background-image: url("../images/jumbotron_background.jpg");
	color: white;
}

